<!-- Modal For Edit Data-->
<div class="modal fade" id="editModal<%= data.id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form action="/admin" method="post" enctype="application/x-www-form-urlencoded">
                <div>
                    <label for="input-username">Username :</label>
                    <input class="input-field" type="text" name="username" id="input-username" value=<%= data.username %>>   
                </div>
                <br>
                <div>
                    <label for="input-email">Email :</label>
                    <input class="input-field" type="text" name="email" id="input-email" value=<%= data.email %>>   
                </div>
                <br>
                <div>
                    <label for="input-gender">Gender :</label>
                    <select name="gender" id="input-gender">
                        <option value=""
                            <% if (data.gender === '') { %> selected
                            <% } %> ></option>
                        <option value="Female"
                            <% if (data.gender === 'Female') { %> selected
                            <% } %> >Female</option>
                        <option value="Male"
                            <% if (data.gender === 'Male') { %> selected
                            <% } %> >Male</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="input-country">Country :</label>
                    <input class="input-field" type="text" name="country" id="input-country" value=<%= data.country %>>   
                </div>
                <br>
                <div>
                    <label for="input-occupation">Occupation :</label>
                    <input class="input-field" type="text" name="occupation" id="input-occupation" value=<%= data.occupation %>>   
                </div>
                <br>
                <div>
                    <label for="input-dob">Date of Birth :</label>
                    <input class="input-field" type="date" name="dateOfBirth" id="input-dob" value=<%= data.date_of_birth %>>   
                </div>
                
                <br>
                <div class="modal-footer"id="button-area">
                    <div class="p-1"><button class = "btn-warning" type = "submit" name="editButton" value=<%= data.id %>><i class="far fa-save"> SAVE</i></button></div>
                </div>
            </form>


        </div>

      </div>
    </div>
  </div>